/* *{
  padding: 0;
  margin: 0;
  
}
.logo-div{
  display: flex;
  align-items: center;
  width: 100%;
}
.image{
  width: 250px;
}
.logo-img{
  margin: 10px 30px;
}
.logo-txt{
 
  font-size: 25px;
  font-weight: 700;
  margin-left: -18px;
  color: white;
}
.blog-div{
 text-align: end;

}

.container {
  background: rgb(82, 139, 161);
  display: flex;
  
}
.text_blog {
  display: inline-flex;
  align-items: center;

}
.blog_text{
  
  
  margin-right: 20px;
  color: white;
}
.launch_app{
  
 
  margin-right: 10px;
  color: white;

}
.arrow_icon{
  
  padding-right: 28px;
  font-size: 29px;
  color: white;

}
.decentr_lized{
 
  padding: 50px 0px;
  padding-left: 15px;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banertxt-div{
  margin-top: -115px;
}
.banertxt-div h1{
  font-size: 20px;
}
.para_div{
  font-size: 5px;
  margin-top: 10px;
}
@media screen and (min-width:700px){
  .image{
      width: 400px;
  }}
@media screen and (min-width:700px){
  .banertxt-div h1{
      font-size: 30px;
  }
  .para_div{
      font-size: 20px;
  }
}
@media screen and (min-width:1120px){
  .banertxt-div h1{
      font-size: 50px;
      margin-top: 110px;
  }
  .para_div{
      font-size: 40px;
  }
}

.button_launch {
  margin-left: 20px;
  display: flex;
  font-size: 30px;
  height: 50px;
}

.launch_text {
  width: 25%;
  box-shadow: 2px;
  background: rgba(226, 225, 220, 0.52);
  border-color: whitesmoke;
  border-radius: 2px solid white;
  border-radius: 10px 10px 10px 10px;
}

.lite_paper {
  border-style: solid white;
  background-color :white;
  border-radius: 2px solid black;
margin-left :20px;
padding :8px;
width: 25%;
} 
.join{
margin-left: 20px;
margin-top: 15px;

}
.community{
  color:white;
}
.logo-div {
  margin-left: 10px;
  color: white;
  margin-top: 5px;
}
.blue-color {
  background-color: skyblue;
height: 100%;
}
.protocol {
  margin-left: 20px;
  margin-top: 100px;
}
.main_div {
  background-color: white;
  height: 100%;
  
}
.pegging {
  margin-left: 20px;
  margin-top: 30px;
}
.what {
  color: blue;

  margin-bottom: 50px;
}
.insurr{
  margin-bottom: 15px;
  margin-top: 10px;
  color: blue;

}
.second_img {
  margin-left: 70%;
}
.read_blog {
  margin-left: 20px;
  height: 40px;
  width: 25%;
  font-size: 14px;
  background-color: blue;
  color: white;
  border-radius: 10px 10px 10px 10px;
}
h3{
  color: blue;
}
.footer_div{
  display: flex;
  padding: 15px;
  margin-top: 30px;
  background-color: skyblue;
justify-content: space-between;
font-weight: 30px;
color:white;


}
.tw_near {
  margin-right: 60px;
  margin-top: 100px;
}
.zyf{
  margin-left: 50px;
  margin-top: 100px;
}
h6 {
  font-size: 15;
  margin-top: 100px;
}
@media screen and (min-width:600px){
  .second_img{
      width: 400px;
  }} */

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* navbar style */

  .navbar{
    background-color: #498bf5;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
  }

  .img_heading{
    display: flex;
    margin: 0 0 0 20px;
  }

  .img_heading h2 {
    margin: 0 0 0 15px;
    color: #fff;
  }

  .nav_links{
    display: flex;
    margin: 6px 20px 0 0;
  }

  .nav_links p {
    color: #fff;
    margin: 0 20px 0 0;
  }

  .arrow_icon {
    color: #fff;
  }

  @media screen and (max-width:500px){
    .img_heading {
      margin: 0;
    }

    .img_heading h2 {
      margin: 12px 0 0 10px;
      font-size: 13px;
    }

    .nav_links {
      margin: 10px 0 0 0;
    }

    .nav_links p {
      margin: 3px 5px 0 0;
      font-size: 11px;
    }
  }

  @media screen and (max-width:350px){

    .img_heading {
      margin: 0 0 0 -15px;
    }

    .img_heading h2 {
      margin: 12px 0 0 7px;
      font-size: 11px;
    }

    .nav_links {
      margin: 10px -15px 0 0;
    }

    .nav_links p {
      margin: 3px 10px 0 0;
      font-size: 11px;
    }
  }

  /* aboutpage_div style */

  .aboutpage_div {
    display: flex;
    width: 100%;
    background-color: #498bf5;
  }

  .aboutpage_detail {
    color: #fff;
  }

  .aboutpage_detail h1 {
    margin: 20px 0 0 50px;
  }

  .aboutpage_detail p {
    margin: 15px 0 0 40px;
  }

  .aboutpage_buttons button {
    width: 110px;
    padding: 10px;
    margin: 20px 0 0 40px;
    border-radius: 5px;
  }

  .launch_text {
    background-color: #fff;
    color: #498bf5;
    outline: none;
    outline-style: none;
    border: 3px solid #498bf5;
  }

  .launch_text:hover {
    background-color: #498bf5;
    color: #fff;
    cursor: pointer;
    transition: .5s;
  }

  .lite_paper{
    background-color: #498bf5;
    color: #fff;
    outline: none;
    outline-style: none;
    border: 3px solid #fff;
  }

  .lite_paper:hover {
    background-color: #fff;
    color: #498bf5;
    cursor: pointer;
    transition: .5s;
  }

  .aboutpage_logo {
    margin: 15px 0 0 40px;
  }

  .logo1 {
    margin: 0px 10px 20px 10px;
  }

  .aboutpage_img {
    margin: 25px 0 0 0;
  }