*{
    padding: 0;
    margin: 0;
    
}
.logo-div{
    display: flex;
    align-items: center;
   
    
    width: 100%;
}
.logo-img{
    margin: 10px 30px;
}
.logo-txt{
   
    font-size: 25px;
    font-weight: 700;
    margin-left: -18px;
    color: white;
}
.blog-div{
   text-align: end;

}
.container{
    background: rgb(82, 139, 161);
    display: flex;
    
}
.text_blog {
    display: inline-flex;
    align-items: center;

}
.blog_text{
    
    
    margin-right: 20px;
    color: white;
}
.launch_app{
    
   
    margin-right: 10px;
    color: white;

}
.arrow_icon{
    
    padding-right: 28px;
    font-size: 29px;
    color: white;

}
.decentr_lized{
   
    padding: 40px 0px;
    padding-left: 15px;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banertxt-div h1{
    font-size: 20px;
}
@media screen and (min-width:700px){
    .banertxt-div h1{
        font-size: 30px;
    }
    .para_div{
        font-size: 20px;
    }
}
@media screen and (min-width:1120px){
    .banertxt-div h1{
        font-size: 70px;
    }
    .para_div{
        font-size: 40px;
    }
}








  
